@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

html, body {
  font-family: 'Roboto', 'Arial', sans-serif !important;
  height: 100%;
}

/*'Helvetica Neue', 'Helvetica',*/

/* Navbar */
nav {
  transition: 0.5s;
}

.navbar-default {
  background-color: #4CAF50;
  border-color: #388E3C;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a {
  color: #fff;
  background-color: #388E3C;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.transparent {
  background-color: transparent !important;
  border: 0;
  text-shadow: 1px 1px 5px black;
}

.transparent-white {
  background-color: transparent !important;
  border: 0;
  color: #f8f8f8 !important;
}

.navbar-brand, #navbar, #navbar li {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.navbar-brand i.fa.fa-recycle {
  font-size: 28px;
}

#home-bg {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* General */
.main-text {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}
.main-text > h1 {
  font-size: 48px;
}

.main-text > p {
  font-size: 36px
}

.white-text {
  color: #fff;
}

.home-btn{
  border-radius: 999em;
}

/* Content - Page */
h1.content {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

p.content {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 22px;
}

p.content::first-letter{
  font-size: 44px;
}

/* Customized breadcrumb */
.btn-breadcrumb {
  margin-bottom: 15px;
}
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}
/* Footer */

.footer-section {
  margin-top: 30px;
  background-color: #43A047;
  color: #E8F5E9;;
}

.footer-section a {
  color: #E8F5E9;
}

.footer-bar {
  background-color:#4CAF50;
  color: #E8F5E9;;
}

.footer-logo {
  font-size: 128px;
  margin: 0;
  margin-bottom: -40px;
}

.fa.fa-linkedin-square {
  font-size: 64px;
}

.fa-text {
  font-size: 24px;
  vertical-align: text-bottom;
}

.footer-team {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-team li {
  line-height: 48px;
}

.container .text-footer{
  margin:20px 0
}

@media (max-width: 768px) {
  .footer-section h2, .footer-section ul li {
    text-align: center;
  }

  .main-text {
    top: 35%;
  }

  .main-text > h1 {
    font-size: 36px
  }

  .main-text > p {
    font-size: 24px
  }
}